
# Aliases, some borrowed from here: https://github.com/mathiasbynens/dotfiles/blob/master/.aliases
# Programs

alias mit-scheme='/Applications/mit-scheme.app/Contents/Resources/mit-scheme'

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias c="cd ~/code"
alias d="cd ~/Dropbox"
alias h="cd ~/"
alias g="git="

# Listings
# List all files colorized in long format, including hidden files, and sort by
# time stamp
alias l="ls -Glath" # No group, long format, all files, ordered by time, with
# size in human readable format
alias lm='l | more' # pipe through 'more'
alias ls='ls -a'

alias mkdir='mkdir -p'

# Scripts
alias gh="python ~/code/dotfiles/scripts/github-lookup.py"

#Leiningen project status
alias cljst='lein outdated && lein eastwood && lein midje'

#jslint
alias jslint='~/bin/node_modules/jslint/bin/jslint.js'

#simple http serve
alias serve='python -m SimpleHTTPServer 8000'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    eval "`dircolors -b`"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias grep='grep --color=auto'
fi

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
