function tmux_session_name() {
	 tty=$(tty)
	 for s in $(tmux list-sessions -F '#{session_name}' 2>/dev/null); do
	     tmux list-panes -F '#{pane_tty} #{session_name}' -t "$s"
	 done | grep "$tty" | awk '{print $2}'
}

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$@"
}

# cd into a dir and ls
function cdl() {
         cd "$@" && ls
}

# navigate to source for any Python module
# http://chris-lamb.co.uk/2010/04/22/locating-source-any-python-module/
cdp () {
  cd "$(python -c "import os.path as _, ${1}; \
    print _.dirname(_.realpath(${1}.__file__[:-1]))"
  )"
}

# Find a file with a pattern in name:
function ff() { find . -type f -iname '*'$*'*' -ls ; }

# grep expression in all python files in dir and subdirs
function fp() { find . -name '*.py' | xargs grep -n $1;  }

# grep expression in all html files in dir and subdirs
function fh() { find . -name '*.html' | xargs grep -n $1;  }

#get help quick!
rtfm() { help $@ || man $@ || open "http://www.google.com/search?q=$@"; }

# From http://jeroenjanssens.com/2013/08/16/quickly-navigate-your-filesystem-from-the-command-line.html

export MARKPATH=$HOME/.marks
function j {
    cd -P "$MARKPATH/$1" 2>/dev/null || echo "No such mark: $1"
}
function mark {
    mkdir -p "$MARKPATH"; ln -s "$(pwd)" "$MARKPATH/$1"
}
function unmark {
    rm -i "$MARKPATH/$1"
}
function marks {
    ls -l "$MARKPATH" | sed 's/  / /g' | cut -d' ' -f9- | sed 's/ -/\t-/g' && echo
}

# Remove the branch on github and locally
function delete_branch {
    git push -d github $1 && git branch -D $1

}

_completemarks() {
  local curw=${COMP_WORDS[COMP_CWORD]}
  local wordlist=$(find $MARKPATH -type l -printf "%f\n")
  COMPREPLY=($(compgen -W '${wordlist[@]}' -- "$curw"))
  return 0
}

complete -F _completemarks j unmark
