
[BASIC]

method-rgx=(([a-z_]|__)[a-zA-Z0-9_]*(__)?|test[a-zA-Z0-9_]*)$

[REPORTS]

#output-format=colorized

[MESSAGES CONTROL]

# C0103: Invalid name "%s" (should match %s)
# E1101 - Has no member (countless false-positives)
# R0901: Too many ancestors (%s/%s)
# R0902: Too many instance attributes (%s/%s)
# R0904: Too many public methods (%s/%s)
# W0101: Unreachable code
# W0201: Attribute %r defined outside __init__
# W0622: Redefining built-in %
# W0603: Using the global statement

disable=C0103,E1101,R0901,R0902,R0904,W0101,W0201,W0603,W0622
